body {
    font-family: "Segoe UI", sans-serif;
    background: radial-gradient(circle at center, #a5c8ff 0%, #5ba4f7 50%, #1E88F6 100%);
    text-align: center;
    padding: 20px;
}

h1 {
    background: linear-gradient(270deg, #003268, #0050a5, #ffffff, #0050a5, #003268);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textFlow 10s ease-in-out infinite;
    width: 50%;
    margin: 20px auto;
    padding-bottom: 20px;
    margin-bottom: 30px;
    position: relative;
}

h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: linear-gradient(270deg, #007bff, #ffffff, #007bff);
    background-size: 200% 100%;
    animation: gradientFlow 10s ease-in-out infinite;
    border-radius: 2px;
}

@keyframes gradientFlow {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes textFlow {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.stats {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.stat-box {
    position: relative;
    font-weight: 600;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(145, 123, 255, 0.6), rgba(255, 255, 255, 0.2));
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 0px 15px rgba(150, 130, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    padding: 15px 40px;
    animation: float 4s ease-in-out infinite;
    transform: all 0.3s ease;
}

.stat-box:hover {
    box-shadow: 0 0 25px rgba(173, 216, 255, 0.7);
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

.stat-box-corner {
    position: relative;
    font-weight: 600;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(32, 255, 129, 0.6), rgba(255, 255, 255, 0.2));
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 0px 15px rgba(150, 130, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    padding: 15px 40px;
    animation: float 4s ease-in-out infinite;
    transform: all 0.3s ease;

}

.mathIcon {
    display: block;
    font-weight: 900;
    font-size: 4rem;
    margin-top: 30px;
    text-align: center;
    background: linear-gradient(270deg, rgb(32, 255, 129), #ffffff, rgb(32, 255, 129));
    background-size: 200% 100%;
    animation: shineFlow 4s ease-in-out infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow:
        0 0 6px rgba(32, 255, 129 0.5),
        0 0 5px rgba(32, 255, 129 0.05),
        0 0 10px rgba(32, 255, 129 0);
}

@keyframes shineFlow {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.stat-box span {
    display: block;
    font-size: 1.2rem;
    color: white;
    margin-top: 5px;
}

#seesawContainer {
    position: relative;
    width: 500px;
    height: 250px;
    margin: 40px auto;
}

#plank {
    position: absolute;
    background-color: black;
    width: 400px;
    height: 12px;
    top: 120px;
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
    transform-origin: center;
    border-radius: 5px;
    transition: tranform 1s ease-out;
}

#pivot {
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 25px solid rgb(85, 85, 85);
    top: 125px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}

.button {
    background: linear-gradient(135deg, rgba(173, 216, 255, 0.25), rgba(0, 123, 255, 0.3));
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 123, 255, 0.15);
    transition: all 0.3s ease;
}

.button:hover {
    background: linear-gradient(135deg, rgba(0, 123, 255, 0.6), rgba(173, 216, 255, 0.4));
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    transform: translateY(-5px);
}

#logContainer {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(145, 123, 255, 0.6), rgba(255, 255, 255, 0.2));
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 0px 15px rgba(150, 130, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 70%;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 2px 2px 6px rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    text-align: left;
}

#logContainer h2 {
    background: linear-gradient(270deg, #003268, #0050a5, #ffffff, #0050a5, #003268);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* bu k覺s覺m h1 etiketi ile ayn覺 "textFlow"u kullan覺yor */
    animation: textFlow 13s ease-in-out infinite;
    border-bottom: 1px solid rgb(238, 238, 238);
    padding-bottom: 20px;
    text-align: center;
    font-size: 2rem;
}

#logList {
    list-style: none;
    padding: 20px;
    margin: 0;
    max-height: 180px;
    overflow: auto;
}
#logList::-webkit-scrollbar {
  width: 6px;
}

#logList::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, rgba(255, 85, 85, 0.6), rgba(255, 0, 0, 0.4));
  border-radius: 10px;
}

#logList::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

#logList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;
    border-bottom: 1px solid rgb(221, 220, 220);
    font-size: 16px;
    font-weight: 600;
    color:#003268;
    
}


.delete-btn {
  padding: 3px 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  background: linear-gradient(135deg, rgba(255, 85, 85, 0.7), rgba(255, 0, 0, 0.5));
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: 0 0 6px rgba(255, 85, 85, 0.4);
  transition: all 0.25s ease;
}

.delete-btn:hover {
  background: linear-gradient(135deg, rgba(255, 51, 51, 0.8), rgba(200, 0, 0, 0.6));
  box-shadow: 0 0 10px rgba(255, 51, 51, 0.6);
  transform: scale(1.05);
}


.weight-object {
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18);
    border: 2px solid rgba(255, 255, 255, 0.6);
    color: white;
    font-weight: 700;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    user-select: none;
}
